*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.container
{
    background-color:plum;
    border: 1px solid gray;
    margin: 50px auto;
    width:80%;
    display:flex;
    position: relative;
    overflow: hidden;
}
.main1{
    background-color:blueviolet;
    text-align: center;
    width:40%;
    border-radius: 0px 50px 50px 0px;
    transition: 0.5s;
    color: white;
    padding: 170px 10px;
    line-height: 30px;
}
.main2{
    background-color:plum;
    width:60%;
    text-align: center;
    padding: 30px 50px;
    transition: 0.1s;
    line-height: 30px;
}
.main3{
    background-color:blueviolet;
    text-align: center;
    width:40%;
    border-radius: 50px 0px 0px 50px;
    transition: 0.5s;
    color: white;
    padding: 170px 10px;
    line-height: 30px;
}
.main4{
    background-color:plum;
    width:60%;
    text-align: center;
    padding: 150px 80px;
    transition: 0.1s;
    line-height: 30px;
}
.contentGrid{
    display:grid;
}
.contentGrid input{
    height: 35px;
    background-color: white;
    border-radius: 15px;
    padding-left: 20px;
}
.contentGrid input:hover{
    border-radius: 25px;
}
button{
    background-color:green;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bolder;
    color: white;
}
button:hover{
background-color:darkgreen;
cursor: pointer;
}
.header
{
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        margin: 20px;
        flex-wrap: wrap;
    }

    .main1, .main2, .main3, .main4 {
        border-radius: 0; /* remove rounded edges for mobile */
        padding: 30px 20px;
        display:flex;
        flex-wrap: wrap;
        width:50%;
    }

    button {
        width: 80%;
    }
}
